@charset "utf-8";


body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCC;
	margin: 0;
	padding: 0;
	color: #000;
}

.container {
	width: 85%;
	max-width: 1260px;
	min-width: 760px;
	background-color: #FFF;
	margin: 0 auto;
	
}

.header {
	background-color: #666;
	margin-top:15px;
}

.content {
	padding: 55px 15px;
}

.footer {
	margin-bottom:15px;
	padding: 10px 15px;
	background-color: #666;
}